/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* GENERAL STYLES */
html {
    overflow-x: hidden;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 545px;
    height: 545px;
}

body {
    min-height: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

/* HEADER SECTION */
header {
    width: 100vw;
    background-color: #1F2937;
    padding: 0.5em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 10vh;
}

/* HEADER NAV */

#head-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 10vw;
}

#head-title {
    font-weight: bold;
    color: #F9FAF8;
}

#links-container {
    display: flex;
    gap: 16px;
}

#links-container a {
    color: #E5E7EB;
    text-decoration: none;

    transition: all 0.1s linear;
}

#links-container a:visited {
    color: #E5E7EB;
}

#links-container a:hover {
    opacity: 0.5;
}

/* HEADER DESCRIPTION */
#head-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20vw; */
    margin-inline: 10vw;
    margin-bottom: 10vh;
}

#description-content {
    margin-right: 5vw;
}

#description-content h3 {
    color: #F9FAF8;
    font-size: 38px;
    font-weight: bold;
}

#description-content p {
    font-size: 0.8em;
    color: #E5E7EB;
}

.sign-up-button {
    font-weight: 525;
    margin-top: 1em;
    font-size: 0.8em;
    padding: 0.25em 1em;

    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;

    transition: all 0.1s linear;
}

.sign-up-button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    cursor: pointer;
}

.sign-up-button:active {
    transform: scale(0.96);
}

#head-description img {
    border-radius: 8px;
    width: min(50vw, 750px);
    height: 30vh;

    /* margin-top: 25px; */
}

/* MAIN SECTION */
main {
    padding: 1.2em;

    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

/* INFORMATION SECTION */
.information-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}

#information-containers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.information-container {
    padding: 0.5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.25em;
}

.information-container img {
    min-width: 200px;
    width: 20vw;
    height: 25vh;

    border: 6px solid #3882F6;
    border-radius: 8px;
}

/* QUOTE SECTION */
#quote {
    height: 30vh;
    background-color: #E5E7EB;
    width: 100vw;

    padding: 2em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#quote-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#quote-author {
    align-self: flex-end;
}

/* SING UP SECTION */
#sign-up-section {
    width: 80vw;
    max-width: 850px;
    background-color: #3882F6;
    padding: 1.5em;
    border-radius: 8px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.sign-up-text {
    width: 70%;
    font-size: 0.8em;
}

.sign-up-text h4 {
    color: #F9FAF8;
}

.sign-up-text p {
    color: #E5E7EB;
}

#sign-up-section button {
    border: 3px solid #F9FAF8;
}

/* FOOTER SECTION */
footer {
    font-weight: 200;
    font-size: 0.8em;
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100vw;
    height: 10vh;

    display: grid;
    place-content: center;
}