/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

/* GENERAL STYLES */
html {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}